HpToolsLauncher/MtbxSchema.xsd

<!--
  ~ © Copyright 2013 EntIT Software LLC
  ~  Certain versions of software and/or documents (“Material”) accessible here may contain branding from
  ~  Hewlett-Packard Company (now HP Inc.) and Hewlett Packard Enterprise Company.  As of September 1, 2017,
  ~  the Material is now offered by Micro Focus, a separately owned and operated company.  Any reference to the HP
  ~  and Hewlett Packard Enterprise/HPE marks is historical in nature, and the HP and Hewlett Packard Enterprise/HPE
  ~  marks are the property of their respective owners.
  ~ __________________________________________________________________
  ~ MIT License
  ~
  ~ Copyright (c) 2018 Micro Focus Company, L.P.
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  ~ ___________________________________________________________________
  ~
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="varType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Float" />
      <xs:enumeration value="String" />
      <xs:enumeration value="Any" />
      <xs:enumeration value="Boolean" />
      <xs:enumeration value="Bool" />
      <xs:enumeration value="Int" />
      <xs:enumeration value="Integer" />
      <xs:enumeration value="Number" />
      <xs:enumeration value="Password" />
      <xs:enumeration value="DateTime" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="Long" />
      <xs:enumeration value="Double" />
      <xs:enumeration value="Decimal" />
      <xs:enumeration value="float" />
      <xs:enumeration value="string" />
      <xs:enumeration value="any" />
      <xs:enumeration value="boolean" />
      <xs:enumeration value="bool" />
      <xs:enumeration value="int" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="number" />
      <xs:enumeration value="password" />
      <xs:enumeration value="dateTime" />
      <xs:enumeration value="datetime" />
      <xs:enumeration value="date" />
      <xs:enumeration value="long" />
      <xs:enumeration value="double" />
      <xs:enumeration value="decimal" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Mtbx">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Test" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="required"/>
                      <xs:attribute type="xs:string" name="value" use="required"/>
                      <xs:attribute type="varType" name="type" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataTable" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:attribute type="xs:string" name="path" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="path" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>